{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: cornflowerblue;">
        <a class="navbar-brand" href="#">FILES DROP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>


                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>



            </ul>

            <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          
          
          </form>
           -->
        </div>
    </nav>


    <div class="container my-3">
        <div class="row">
            <div class="col-12">

                <div class="my-4">

                    <a href="drop">
                        <button class="btn btn-outline-info">Drop File</button>
                    </a>
                    <a class="" href="">
                        <button class="btn btn-outline-info">Drop Notes</button>
                    </a>


                </div>
               

                <form action="/drop" method="POST" enctype="multipart/form-data" >
                    <div class="form-group">
                        <label for="{{form.name.id_for_label }}">Document Name</label>
                        {{form.name}}
                        

                    </div>{% csrf_token %}

                    <div class="form-group">
                        <label for="{{form.dfiles.id_for_label }}">Drop Files</label>
                        {{form.dfiles}}
                        

                    </div>

                    
                    


                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>










            </div>
        </div>
    </div>
    </div>







    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
</body>

</html>